.fieldSelect{
    position: relative;
    left: 0;
    width: 640px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 540px){
    .fieldSelect{
        width: 80%;
    }
}

.fieldSelect .inputBase{
    margin-bottom: 0px;
}

.fieldSelect .optionView{
    display: flex;
    overflow: hidden;
}
.fieldSelect .optionView .text{
    white-space: nowrap;
}
.fieldSelect .optionView select{
    flex-grow: 1; /*TODO: Fix this.*/
    margin-left: 7px;
    outline: none;
    border: none;
    background: none;
    -webkit-appearance: none;
    transition: all 0.2s;
}
.fieldSelect .optionView select:hover{
    margin-left: 20px;
}
.fieldSelect .optionView select:hover{
    color: #448afd;
}
