.logo{
    font-family: Montserrat;
    font-weight: bold;
    color: white;
    font-size: 40px;
    margin: 36px;
    user-select: none;
    width: fit-content;
  }

  .logo > .hidden{
      max-height: 0px;
      overflow: hidden;
  }